__pycache__/
*.py[cod]
*.pyo
*.pyd
*.so
*.egg-info/
dist/
build/

.ipynb_checkpoints/

venv/
env/
.venv/

.vscode/
.idea/

project/
other/

models/*
!models/best_model_new.pth  
!models/best_model_new.pt  

*.log
*.csv
*.xlsx

.DS_Store
Thumbs.db
